<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>

<a class="btn btn-primary" href="/">Home</a>
<!-- <a class="btn btn-primary" href="/home/index">Home</a> -->
<!-- <a class="btn btn-primary" href="/home">Home</a> -->
<!-- <a class="btn btn-primary" href="#">Test</a> -->


